requests
beautifulsoup4
jupyterlab
numpy
pandas
matplotlib
sgp4
spiceypy
pyproj
cartopy
filterpy
h5py
mat73
cdflib
requests
seaborn
scipy
scikit-learn
scikit-image
scikit-optimize
scikit-optimize
pymap3d
pymsis
pytest
tqdm


